<html>
<head>
	<title>Angular js ex..</title>
	<script src="angular.min.js"></script>
</head>
<body>
	<h2><center>Angular js example</center></h2>
	<div ng-app="">
		<table border="0">
		<tr>
			<td><input type="checkbox" ng-model="enableDisableButton">disable button</td>
			<td><button ng-disabled="enableDisableButton">click to disable</button></td>
		</tr>
<tr>
			<td><input type="checkbox" ng-model="showHide">show button</td>
			<td><button ng-show="showHide">click to disable</button></td>
		</tr>
		</table></div>
</body>
</html>